<div class="row">
    <div class="col">
        <div class="logo-box">
            <img src="/images/work/logo-tidings.png" alt="Nike" class="logo">
        </div>
        <div class="logo-box">
            <img src="/images/work/logo-chirpify.png" alt="Nike" class="logo">
        </div>
    </div>
    <div class="col">
        <div class="logo-box">
            <img src="/images/work/logo-easykicks.png" alt="Nike" class="logo">
        </div>
    </div>
    <div class="col">
        <div class="logo-box">
            <img src="/images/work/logo-measureful.png" alt="Nike" class="logo">
        </div>
        <div class="logo-box">
            <img src="/images/work/logo-brand-genie.png" alt="Nike" class="logo">
        </div>
    </div>
</div>

<div class="row">
    <div class="col">

    </div>
    <div class="col">
    </div>
</div>
